img{
    width: 500px;
    border-radius: 200px;
    float: left;
    margin-right: 10px;
}
p{
    font-weight: bold;
    font-size: 100px;
}
.section{
    font-weight: bolder;

}
em{
    color: blue;
    
}